In [2]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler
from sklearn.cluster import KMeans
import matplotlib.pyplot as plt
import seaborn as sns
import scipy as spy

In [4]:
df1 = pd.read_csv("C:\\Users\\MICROSOFT\\OneDrive\\Untitled Folder\\data\\jakarta.csv")
df2 = pd.read_csv("C:\\Users\\MICROSOFT\\OneDrive\\Untitled Folder\\data\\bogor.csv")
df3 = pd.read_csv("C:\\Users\\MICROSOFT\\OneDrive\\Untitled Folder\\data\\depok.csv")
df4 = pd.read_csv("C:\\Users\\MICROSOFT\\OneDrive\\Untitled Folder\\data\\tangerang.csv")
df5 = pd.read_csv("C:\\Users\\MICROSOFT\\OneDrive\\Untitled Folder\\data\\bekasi.csv")

df = pd.concat([df1, df2, df3, df4, df5], axis=1, join='inner')

print(df.head())
df.to_csv('df.csv')

   created_at     LT     LB   KT   KM  garasi  carport         lokasi  \
0  06-12-2021  202.0  198.0  8.0  3.0     NaN      NaN  Jakarta Pusat
1  02-12-2021   30.0   55.0  2.0  1.0     NaN      1.0  Jakarta Pusat
2  06-12-2021   19.0   35.0  2.0  1.0     NaN      NaN  Jakarta Pusat
3  06-12-2021   33.0   42.0  2.0  2.0     NaN      1.0  Jakarta Pusat
4  06-12-2021   30.0   55.0  2.0  2.0     NaN      1.0  Jakarta Pusat

  sertifikat  listrik  ... Unnamed: 16  Unnamed: 17 Unnamed: 18 Unnamed: 19  \
0        SHM   2200.0  ...         NaN          NaN         NaN         NaN
1        SHM   2200.0  ...         NaN          NaN         NaN         NaN
2        SHM   2200.0  ...         NaN          NaN         NaN         NaN
3        SHM   2200.0  ...         NaN          NaN         NaN         NaN
4        SHM   2200.0  ...         NaN          NaN         NaN         NaN

   Unnamed: 20  Unnamed: 21  Unnamed: 22  Unnamed: 23  Unnamed: 24  \
0          NaN          NaN          NaN          NaN          NaN
1          NaN          NaN          NaN          NaN          NaN
2          NaN          NaN          NaN          NaN          NaN
3          NaN          NaN          NaN          NaN          NaN
4          NaN          NaN          NaN          NaN          NaN

   Unnamed: 25
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN

[5 rows x 130 columns]

In [24]:
df=df[["LT","LB","KT","KM"]]
df[:108]

,LT,LT,LT,LT,LT,LB,LB,LB,LB,LB,KT,KT,KT,KT,KT,KM,KM,KM,KM,KM
0,202.0,75.0,165,60.0,71.0,198.0,38.0,200.0,50.0,43.0,8.0,2.0,4.0,3.0,2.0,3.0,1.0,2.0,2.0,1.0
1,30.0,60.0,50,72.0,59.0,55.0,40.0,45.0,54.0,60.0,2.0,1.0,2.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0
2,19.0,60.0,50,60.0,124.0,35.0,50.0,36.0,48.0,95.0,2.0,2.0,2.0,3.0,2.0,1.0,2.0,1.0,2.0,1.0
3,33.0,60.0,50,200.0,144.0,42.0,70.0,45.0,225.0,100.0,2.0,3.0,2.0,5.0,2.0,2.0,2.0,1.0,4.0,1.0
4,30.0,90.0,72,76.0,108.0,55.0,60.0,45.0,123.0,100.0,2.0,3.0,2.0,3.0,3.0,2.0,2.0,1.0,3.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103,98.0,437.0,880,288.0,140.0,115.0,340.0,400.0,200.0,250.0,4.0,5.0,5.0,3.0,3.0,5.0,5.0,1.0,2.0,2.0
104,95.0,106.0,74,144.0,60.0,250.0,54.0,60.0,130.0,55.0,4.0,3.0,3.0,4.0,2.0,4.0,2.0,2.0,2.0,1.0
105,100.0,72.0,335,300.0,36.0,170.0,36.0,300.0,375.0,60.0,4.0,2.0,4.0,4.0,2.0,4.0,1.0,3.0,2.0,1.0
106,72.0,72.0,83,265.0,60.0,69.0,55.0,100.0,100.0,55.0,3.0,2.0,3.0,3.0,2.0,2.0,1.0,2.0,2.0,1.0
107,72.0,180.0,84,189.0,NaN,97.0,130.0,50.0,100.0,NaN,3.0,3.0,2.0,3.0,NaN,2.0,1.0,1.0,2.0,NaN

In [17]:
df

,LT,LT,LT,LT,LT,LB,LB,LB,LB,LB,KT,KT,KT,KT,KT,KM,KM,KM,KM,KM
0,202.0,75.0,165,60.0,71.0,198.0,38.0,200.0,50.0,43.0,8.0,2.0,4.0,3.0,2.0,3.0,1.0,2.0,2.0,1.0
1,30.0,60.0,50,72.0,59.0,55.0,40.0,45.0,54.0,60.0,2.0,1.0,2.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0
2,19.0,60.0,50,60.0,124.0,35.0,50.0,36.0,48.0,95.0,2.0,2.0,2.0,3.0,2.0,1.0,2.0,1.0,2.0,1.0
3,33.0,60.0,50,200.0,144.0,42.0,70.0,45.0,225.0,100.0,2.0,3.0,2.0,5.0,2.0,2.0,2.0,1.0,4.0,1.0
4,30.0,90.0,72,76.0,108.0,55.0,60.0,45.0,123.0,100.0,2.0,3.0,2.0,3.0,3.0,2.0,2.0,1.0,3.0,2.0

In [19]:
df.dtypes

LT    float64
LT    float64
LT     object
LT    float64
LT    float64
LB    float64
LB    float64
LB    float64
LB    float64
LB    float64
KT    float64
KT    float64
KT    float64
KT    float64
KT    float64
KM    float64
KM    float64
KM    float64
KM    float64
KM    float64
dtype: object

In [20]:
df.describe().transpose()

    count        mean         std   min    25%    50%     75%     max
LT  121.0  247.586777  368.384642  16.0  84.00  135.0  250.00  3422.0
LT  128.0  150.164062  212.769358  30.0  60.00   73.5  121.25  1500.0
LT  124.0  202.653226  285.219301  37.0  90.00  150.5  250.00  3087.0
LT  107.0  108.822430   59.164914  36.0  72.00   91.0  130.50   364.0
LB  121.0  279.495868  285.275631  21.0  97.00  200.0  350.00  2000.0
LB  128.0  108.273438  146.824321  21.0  38.75   55.0  105.00  1200.0
LB  118.0   92.618644   92.630404  15.0  46.00   61.0  102.25   600.0
LB  124.0  199.491935  264.097681  27.0  81.50  125.0  240.00  2500.0
LB  107.0  110.635514   71.755270  30.0  60.00   90.0  144.00   494.0
KT  121.0    4.272727    1.901754   1.0   3.00    4.0    5.00    10.0
KT  128.0    2.718750    1.163334   1.0   2.00    2.0    3.00     8.0
KT  118.0    2.737288    1.024720   2.0   2.00    3.0    3.00     7.0
KT  124.0    3.346774    1.097257   2.0   3.00    3.0    4.00     8.0
KT  107.0    2.962617    1.027226   1.0   2.00    3.0    4.00     7.0
KM  121.0    3.380165    1.709075   1.0   2.00    3.0    4.00    10.0
KM  128.0    1.906250    1.288578   1.0   1.00    1.0    2.00     6.0
KM  118.0    1.940678    0.980950   1.0   1.00    2.0    2.00     5.0
KM  124.0    2.693548    1.295253   1.0   2.00    2.0    3.00     8.0
KM  106.0    1.943396    0.848867   1.0   1.00    2.0    2.75     4.0